.header {
  padding: 44px 0 28px 0;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.header__btn {
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
}

.header__nav {
  width: 100%;
}

.footer {
  background-color: #305F64;
  color: white;
}

.footer p {
  font-size: 18px;
  font-family: DM Sans;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__main {
  padding: 100px 0 42px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__tour {
  margin-left: 154px;
  margin-right: 103px;
  width: 9.5%;
}

.footer__tour :first-child {
  width: 80%;
}

.footer__tour :nth-child(2) {
  margin-top: 0;
}

.footer__company {
  margin-right: 108px;
  width: 35%;
}

.footer__follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.footer__follow :nth-child(3) {
  background-color: #305F64;
}

.footer__p1 {
  margin-bottom: 40px;
  margin-top: 24px;
  line-height: 26px;
}

.footer__p2 {
  margin-top: 23px;
}

.footer__h3 {
  margin-top: 3px;
}

.footer__dudeshape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 26%;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  padding: 0;
  font-size: 18px;
  margin-top: 23px;
}

.footer__item {
  display: inline-block;
  list-style-type: none;
  margin-right: 72px;
  font-family: DM Sans;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__btn {
  background-color: white;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__input {
  width: 218px;
  border: none;
  padding: 16px 12px 13px 22px;
  margin-top: 42px;
}

.footer__input::-webkit-input-placeholder {
  color: #859395;
  font-size: 16px;
}

.footer__input:-ms-input-placeholder {
  color: #859395;
  font-size: 16px;
}

.footer__input::-ms-input-placeholder {
  color: #859395;
  font-size: 16px;
}

.footer__input::placeholder {
  color: #859395;
  font-size: 16px;
}

.footer__box {
  position: relative;
}

.footer__arrow {
  width: 28px;
  height: 28px;
  background-color: #FFB624;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 12px;
  bottom: 9px;
}

.footer__arrow:hover {
  background-color: #f0a000;
}

.footer__end {
  border-top: 1px solid #407980;
  text-align: center;
  padding: 20px;
}

.footer__end p {
  margin-top: 0;
}

.form__container {
  max-width: 1200px;
  margin: 0 auto;
}

.form__content {
  margin-top: 132px;
  margin-bottom: 140px;
  background-color: #F4F6F6;
  padding: 68px 300px 55px 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.form__h2 {
  line-height: 48px;
}

.form__p {
  font-size: 16px;
  width: 85%;
  padding: 20px 0 40px 0;
  font-family: DM Sans;
  line-height: 24px;
  margin: 0;
}

.form__register {
  position: relative;
}

.form__input {
  height: 67px;
  width: 423px;
  border: none;
  padding-left: 47px;
  padding: 0 2px 0 47px;
}

.form__input::-webkit-input-placeholder {
  font-size: 16px;
  color: #BABABA;
  font-family: DM Sans;
}

.form__input:-ms-input-placeholder {
  font-size: 16px;
  color: #BABABA;
  font-family: DM Sans;
}

.form__input::-ms-input-placeholder {
  font-size: 16px;
  color: #BABABA;
  font-family: DM Sans;
}

.form__input::placeholder {
  font-size: 16px;
  color: #BABABA;
  font-family: DM Sans;
}

.form__img {
  position: absolute;
  top: 25px;
  left: 17px;
}

.form__btn {
  width: 125px;
  height: 52px;
  background-color: #305F64;
  color: white;
  font-family: DM Sans;
  font-size: 16px;
  position: absolute;
  top: 7px;
  right: 19px;
}

.form__btn:hover {
  background-color: #418086;
}

button:hover {
  cursor: pointer;
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
}

p {
  font-size: 20px;
  margin-bottom: 0;
}

h1 {
  font-size: 56px;
  margin: 0;
}

h2 {
  font-size: 32px;
  margin: 0;
}

h3 {
  font-size: 20px;
  margin: 0;
}

h4 {
  font-size: 16px;
  margin: 0;
}

body {
  font-family: Montserrat;
  margin: 0;
  background-color: #FCFBFF;
}

.btn {
  border: none;
}

.btn_round {
  border-radius: 50%;
}

.btn_dark {
  background-color: #244D4D;
}

.list__item {
  display: inline-block;
  list-style-type: none;
  margin-right: 72px;
  font-family: DM Sans;
}

.list__item:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.list {
  margin: 0;
  padding-left: 0;
}

.logo {
  font-size: 24px;
  padding-right: 217px;
}

.main__container {
  max-width: 1200px;
  margin: 0 auto;
}

.main__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__content {
  padding: 100px 100px 137px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  background-color: #154444;
  height: 100%;
}

.main__p {
  margin-top: 20px;
  margin-bottom: 35px;
  width: 84%;
  line-height: 25px;
  font-family: DM Sans;
}

.main__btn {
  padding: 15px 25px;
  border: none;
  width: 172px;
  font-size: 20px;
  color: #154444;
  font-family: DM Sans;
}

.main__btn:hover {
  background-color: #cccccc;
}

.companies__container {
  max-width: 1200px;
  margin: 0 auto;
}

.companies__content {
  margin: 136px 60px;
}

.companies__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.companies__h {
  color: #244D4D;
  text-align: center;
  font-family: DM Sans;
  padding-right: 13px;
}

.about__container {
  max-width: 1200px;
  margin: 0 auto;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 135px;
  padding-bottom: 24px;
  padding-left: 16px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  margin: 30px 30px 31px 0;
}

.about__item:first-of-type {
  padding-left: 3px;
}

.about__img {
  position: relative;
}

.about__bg {
  background-color: #DEE4E2;
  height: 98%;
  width: 106%;
  position: absolute;
  top: 26px;
  z-index: -1;
}

.about__text {
  color: #244D4D;
  padding-top: 48px;
}

.about__p1 {
  color: #444444;
  font-family: DM Sans;
  margin-bottom: 40px;
}

.about__p2 {
  line-height: 26px;
  font-size: 18px;
  color: #383738;
  font-family: DM Sans;
  margin-top: 16px;
}

.about__h2 {
  line-height: 40px;
}

.popular__container {
  max-width: 1200px;
  margin: 0 auto;
}

.popular__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular__content {
  margin: 140px 0;
}

.popular__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 78px;
}

.popular__h2 {
  margin-left: 2px;
}

.popular__p {
  font-family: DM Sans;
  width: 70%;
  margin-top: 25px;
  margin-left: 2px;
  line-height: 27px;
}

.popular__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.popular__btn {
  background-color: #F4F6F6;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular__btn:hover {
  background-color: #d8dfdf;
}

.card {
  -webkit-box-shadow: 0 13px 26px rgba(0, 0, 0, 0.07);
          box-shadow: 0 13px 26px rgba(0, 0, 0, 0.07);
}

.card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.card__btn {
  width: 26px;
  height: 26px;
  background-color: #F4F6F6;
}

.card__btn:hover {
  background-color: #EF5423;
}

.card__button {
  color: white;
  padding: 8px 14px;
  font-size: 12px;
  font-family: DM Sans;
}

.card__button:hover {
  background-color: #347070;
}

.card__h3 {
  font-family: DM Sans;
  font-weight: 500;
}

.card__text {
  background-color: white;
  padding: 25px 24px;
}

.card__p {
  margin: 0;
  font-size: 24px;
  color: #154444;
  font-family: DM Sans;
}

.card__text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 22px;
}

.card__text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.furniture {
  margin-top: 145px;
  margin-bottom: 140px;
}

.furniture h2 {
  text-align: center;
  padding-left: 5px;
}

.furniture__main {
  margin-left: 18px;
  margin-right: 7px;
}

.furniture__container {
  max-width: 1200px;
  margin: 0 auto;
}

.furniture__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.furniture__list {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  gap: 103px;
  font-family: DM Sans;
}

.furniture__item {
  display: inline-block;
  list-style-type: none;
  font-size: 24px;
  color: #919090;
}

.furniture__item:hover {
  color: #154444;
  -webkit-text-decoration-color: #154444;
          text-decoration-color: #154444;
}

.furniture__btn {
  background-color: rgba(255, 255, 255, 0);
  border: 1.5px solid #D9DCE5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.furniture__btn:hover {
  background-color: #154444;
}

.furniture__h4 {
  font-weight: normal;
  color: #808080;
  font-family: DM Sans;
  margin-top: 14px;
}

.furniture__h4:hover {
  color: white;
}

.furniture__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 95px;
}

.furniture__buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (222px)[2];
      grid-template-columns: repeat(2, 222px);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  gap: 32px;
  margin-top: 32px;
  margin-bottom: 28px;
  margin-left: 5px;
}

.furniture__img {
  position: relative;
}

.furniture__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.furniture__bg1 {
  position: absolute;
  background-color: #154444;
  width: 34%;
  height: 22%;
  top: -10px;
  left: -10px;
  z-index: -1;
}

.furniture__bg2 {
  position: absolute;
  background-color: #154444;
  width: 34%;
  height: 22%;
  bottom: -10px;
  right: -10px;
  z-index: -1;
}

.customer__container {
  max-width: 1200px;
  margin: 0 auto;
}

.customer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 105px;
}

.customer__img {
  position: relative;
}

.customer__h2 {
  line-height: 48px;
}

.customer__p {
  font-family: DM Sans;
}

.customer__bg {
  position: absolute;
  width: 105%;
  height: 98%;
  border-radius: 500px;
  background-color: #244D4D;
  z-index: -1;
  left: -105px;
  top: 0;
}

.customer__text {
  padding-bottom: 36px;
}

.customer__main {
  padding: 102px 0 105px 100px;
}

.customer__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer__p1 {
  font-family: DM Sans;
  line-height: 27px;
}

.customer__info {
  font-family: DM Sans;
  padding-left: 10px;
}

.customer__p2 {
  margin: 0;
  font-size: 16px;
  padding-bottom: 4px;
}

.customer__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer__p3 {
  padding-left: 6px;
  margin: 0;
  font-size: 14px;
}

@media screen and (max-width: 1230px) {
  .container {
    max-width: 970px;
  }
  .logo {
    padding-right: 150px;
  }
  .main__content {
    padding: 70px;
    height: auto;
  }
  .main__img img {
    height: 100%;
  }
  .about__content {
    gap: 90px;
  }
  .about__item {
    margin: 15px;
  }
  .about__p1 {
    margin-bottom: 15px;
  }
  .about__text {
    padding-top: 0;
  }
  .about__bg {
    height: 86%;
  }
  .popular__content {
    margin-top: 100px;
  }
  .card {
    width: 30%;
  }
  .card__img {
    width: 100%;
  }
  .furniture__buttons {
    -ms-grid-columns: (180px)[2];
        grid-template-columns: repeat(2, 180px);
    gap: 25px;
    margin-left: 50px;
  }
  .customer__main {
    padding: 60px 0 60px 60px;
  }
  .footer__tour {
    margin-left: 70px;
    margin-right: 70px;
  }
  .footer__company {
    margin-right: 50px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 740px;
  }
  .logo {
    padding-right: 50px;
  }
  .list__item {
    margin-right: 50px;
  }
  .main__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .main__content {
    width: 60%;
  }
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
  .about__bg {
    height: 100%;
  }
  .about__h2 {
    text-align: center;
  }
  .about__p1 {
    text-align: center;
    margin-bottom: 30px;
  }
  .customer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
  .customer__main {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .customer__img {
    margin-left: 100px;
  }
  .customer__h2 {
    text-align: center;
  }
  .customer__p1 {
    text-align: center;
  }
  .companies__content {
    margin-left: 20px;
    margin-right: 20px;
  }
  .furniture {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .furniture__main {
    margin-top: 50px;
  }
  .furniture__buttons {
    -ms-grid-columns: (120px)[2];
        grid-template-columns: repeat(2, 120px);
  }
  .furniture__btn {
    padding: 10px;
  }
  .card__text {
    padding: 20px;
  }
  .form__content {
    padding-left: 100px;
    padding-right: 100px;
  }
  .footer__input {
    width: auto;
  }
  .footer__tour {
    margin-left: 0;
    margin-right: 0;
    width: 20%;
    margin-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .header__nav {
    display: none;
  }
  h1 {
    font-size: 40px;
  }
  .main__content {
    padding: 50px;
  }
  .about__bg {
    width: 70%;
  }
  .about__img {
    padding-right: 30px;
    padding-left: 80px;
  }
  .about__img img {
    width: 80%;
  }
  .companies__pay {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .companies__content {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .card__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .furniture__list {
    gap: 30px;
  }
  .furniture__item {
    text-align: center;
  }
  .footer__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__subscribe {
    width: 50%;
  }
  .footer__input {
    width: -webkit-fill-available;
  }
  .footer__dudeshape {
    width: 60%;
    margin-bottom: 40px;
  }
  .customer__main {
    padding-top: 0;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 350px;
  }
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  .main__content {
    padding-right: 90px;
  }
  .main__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main__btn {
    font-size: 16px;
  }
  .companies__pay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__img {
    padding-left: 20px;
    padding-right: 20px;
  }
  .about__img img {
    width: 80%;
  }
  .about__bg {
    width: 78%;
  }
  .about__p2 {
    font-size: 16px;
  }
  .popular__content {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .popular__p {
    width: 100%;
  }
  .popular__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
  }
  .popular__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .furniture__list {
    gap: 0;
  }
  .furniture__item {
    font-size: 18px;
  }
  .furniture__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .furniture__buttons {
    margin-left: 0;
  }
  .furniture__bg2 {
    bottom: -5px;
  }
  .card {
    width: 100%;
  }
  .card__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .customer__img img {
    width: 100%;
  }
  .customer__bg {
    left: -75px;
  }
  .form__content {
    padding-left: 50px;
    padding-right: 50px;
  }
  .form__input {
    width: 240px;
  }
  .form__btn {
    width: 85px;
    right: 10px;
  }
  .footer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding-top: 50px;
  }
  .footer__dudeshape {
    width: 100%;
  }
  .footer__tour {
    width: 100%;
    margin-left: 0;
  }
  .footer__tour :nth-child(2) {
    margin-top: 23px;
  }
  .footer__company {
    width: 100%;
  }
  .footer__subscribe {
    width: 100%;
  }
  .footer__list :nth-child(2) {
    margin-top: 0;
  }
}

@media screen and (max-width: 360px) {
  .header, section, .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main__content {
    width: auto;
  }
}
/*# sourceMappingURL=styles.css.map */
