body {
    background-color: #FCFBFF;
}
div {
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-size: 200px;
    margin-bottom: 0;
    color: #444444;
}
h2 {
    font-size: 80px;
    margin-top: 0;
    color: #444444;
}
button {
    font-size: 20px;
    border: none;
    width: 30%;
    padding: 20px 30px;
    background-color: #305F64;
}
a {
    text-decoration: none;
    color: white;
}