@import 'blocks/header', 'blocks/footer', 'blocks/form';
@import 'vars';

@mixin container() {
    max-width: 1200px;
    margin: 0 auto;
}
@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover {
    cursor: pointer;
}
li:hover {
    cursor: pointer;
    text-decoration: underline;
}

p {
    font-size: 20px;
    margin-bottom: 0;
}

h1 {
    font-size: 56px;
    margin: 0;
}
h2 {
    font-size: 32px;
    margin: 0;
}
h3 {
    font-size: 20px;
    margin: 0;
}
h4 {
    font-size: 16px;
    margin: 0;
}

body {
    font-family: Montserrat;
    margin: 0;
    background-color: #FCFBFF;
}
.btn {
    border: none;
}
.btn_round {
    border-radius: 50%;
}
.btn_dark {
    background-color: $cl-main;
}
.list__item {
    display: inline-block;
    list-style-type: none;
    margin-right: 72px;
    &:last-child {
        margin-right: 0;
    }
    font-family: DM Sans;
}
a {
    text-decoration: none;
    color: inherit;
}
.list {
    margin: 0;
    padding-left: 0;
}
.logo {
    font-size: 24px;
    padding-right: 217px;
}

.main {
    &__container {
        @include container();
    }
    &__main {
        display: flex;
    }
    &__content {
        padding: 100px 100px 137px 100px;
        display: flex;
        flex-direction: column;
        color: white;
        background-color: $bg-main;
        height: 100%;
    }
    &__p {
        margin-top: 20px;
        margin-bottom: 35px;
        width: 84%;
        line-height: 25px;
        font-family: DM Sans;
    }
    &__btn {
        padding: 15px 25px;
        border: none;
        width: 172px;
        font-size: 20px;
        color: $bg-main;
        font-family: DM Sans;
        &:hover {
            background-color: darken(white, 20%)
        }
    }
}

.companies {
    &__container {
        @include container();
    }
    &__content {
        margin: 136px 60px;
    }
    &__pay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
    }
    &__h {
        color: $cl-main;
        text-align: center;
        font-family: DM Sans;
        padding-right: 13px;
    }
}

.about {
    &__container {
        @include container();
    }
    &__content {
        display: flex;
        gap: 135px;
        padding-bottom: 24px;
        padding-left: 16px;
    }
    &__item {
        display: flex;
        align-items: flex-start;
        gap: 30px;
        margin: 30px 30px 31px 0;
        &:first-of-type {
            padding-left: 3px;
        }
    }
    &__img {
        position: relative;
    }
    &__bg {
        background-color: #DEE4E2;
        height: 98%;
        width: 106%;
        position: absolute;
        top: 26px;
        z-index: -1;
    }
    &__text {
        color: $cl-main;
        padding-top: 48px;
    }
    &__p1 {
        color: #444444;
        font-family: DM Sans;
        margin-bottom: 40px;
    }
    &__p2 {
        line-height: 26px;
        font-size: 18px;
        color: $text;
        font-family: DM Sans;
        margin-top: 16px;
    }
    &__h2 {
        line-height: 40px
    }
}

.popular {
    &__container {
        @include container();
    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        margin: 140px 0;
    }
    &__text {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 78px;
    }
    &__h2 {
        margin-left: 2px;
    }
    &__p {
        font-family: DM Sans;
        width: 70%;
        margin-top: 25px;
        margin-left: 2px;
        line-height: 27px;
    }
    &__buttons {
        display: flex;
        gap: 16px;
    }
    &__btn {
        background-color: #F4F6F6;
        width: 40px;
        height: 40px;
        @include center();
        &:hover {
            background-color: darken(#F4F6F6, 10%);
        }
    }
}

.card {
    box-shadow: 0 13px 26px rgba(#000000, 0.07);
    &__buttons {
        display: flex;
        gap: 8px;
    }
    &__btn {
        width: 26px;
        height: 26px;
        background-color: #F4F6F6;
        &:hover {
            background-color: #EF5423;
        }
    }
    &__button {
        color: white;
        padding: 8px 14px;
        font-size: 12px;
        font-family: DM Sans;
        &:hover {
            background-color: lighten($cl-main, 10%);
        }
    }
    &__h3 {
        font-family: DM Sans;
        font-weight: 500;
    }
    &__text {
        background-color: white;
        padding: 25px 24px;
    }
    &__p {
        margin: 0;
        font-size: 24px;
        color: $bg-main;
        font-family: DM Sans;
    }
    &__text1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px;
    }
    &__text2 {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.furniture {
    margin-top: 145px;
    margin-bottom: 140px;
    h2 {
        text-align: center;
        padding-left: 5px;
    }
    &__main {
        margin-left: 18px;
        margin-right: 7px;
    }
    &__container {
        @include container();
    }
    &__content {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
    &__list {
        margin-top: 23px;
        display: flex;
        justify-content: center;
        padding: 0;
        gap: 103px;
        font-family: DM Sans;
    }
    &__item {
        display: inline-block;
        list-style-type: none;
        font-size: 24px;
        color: #919090;
        &:hover {
            color: $bg-main;
            text-decoration-color: $bg-main;
        }
    }
    &__btn {
        background-color: rgba(white, 0);
        border: 1.5px solid #D9DCE5;
        flex-direction: column;
        @include center();
        &:hover {
            background-color: $bg-main;
        }
    }
    &__h4 {
        font-weight: normal;
        color: #808080;
        font-family: DM Sans;
        margin-top: 14px;
        &:hover {
            color: white;
        }
    }
    &__main {
        display: flex;
        justify-content: space-between;
        margin-top: 95px;
    }
    &__buttons {
        display: grid;
        grid-template-columns: repeat(2, 222px);
        grid-template-rows: repeat(3, auto);
        gap: 32px;
        margin-top: 32px;
        margin-bottom: 28px;
        margin-left: 5px;
    }
    &__img {
        position: relative;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__bg1 {
        position: absolute;
        background-color: $bg-main;
        width: 34%;
        height: 22%;
        top: -10px;
        left: -10px;
        z-index: -1;
    }
    &__bg2 {
        position: absolute;
        background-color: $bg-main;
        width: 34%;
        height: 22%;
        bottom: -10px;
        right: -10px;
        z-index: -1;
    }
}

.customer {
    &__container {
        @include container();
    }
    &__content {
        display: flex;
        justify-content: space-between;
        padding-left: 105px;
    }
    &__img {
        position: relative;
    }
    &__h2 {
        line-height: 48px;
    }
    &__p {
        font-family: DM Sans;
    }
    &__bg {
        position: absolute;
        width: 105%;
        height: 98%;
        border-radius: 500px;
        background-color: $cl-main;
        z-index: -1;
        left: -105px;
        top: 0;
    }
    &__text {
        padding-bottom: 36px;
    }
    &__main {
        padding: 102px 0 105px 100px;
    }
    &__user {
        display: flex;
        align-items: center;
    }
    &__p1 {
        font-family: DM Sans;
        line-height: 27px;
    }
    &__info {
        font-family: DM Sans;
        padding-left: 10px;
    }
    &__p2 {
        margin: 0;
        font-size: 16px;
        padding-bottom: 4px;
    }
    &__rating {
        display: flex;
        align-items: center;
    }
    &__p3 {
        padding-left: 6px;
        margin: 0;
        font-size: 14px;
    }
}



@media screen and (max-width: 1230px) {
    .container {
        max-width: 970px;
    }
    .logo {
        padding-right: 150px;
    }
    .main
    {
        &__content {
            padding: 70px;
            height: auto;
        }
        &__img {
            img {
                height: 100%;
            }
        }
    }
    .about {
        &__content {
            gap: 90px;
        }
        &__item {
            margin: 15px;
        }
        &__p1 {
            margin-bottom: 15px;
        }
        &__text {
            padding-top: 0;
        }
        &__bg {
            height: 86%;
        }
    }
    .popular {
        &__content {
            margin-top: 100px;
        }
    }
    .card {
        width: 30%;
        &__img {
            width: 100%;
        }
    }
    .furniture {
        &__buttons {
            grid-template-columns: repeat(2, 180px);
            gap: 25px;
            margin-left: 50px;
        }
    }
    .customer {
        &__main {
            padding: 60px 0 60px 60px;
        }
    }
    .footer {
        &__tour {
            margin-left: 70px;
            margin-right: 70px;
        }
        &__company {
            margin-right: 50px;
        }
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 740px;
    }
    .logo {
        padding-right: 50px;
    }
    .list {
        &__item {
            margin-right: 50px;
        }
    }
    .main {
        &__img {
            @include center();
            overflow: hidden;
        }
        &__content {
            width: 60%;
        }
    }
    .about {
        &__content {
            flex-direction: column;
            align-items: center;
            padding-left: 0;
        }
        &__bg {
            height: 100%;
        }
        &__h2 {
            text-align: center;
        }
        &__p1 {
            text-align: center;
            margin-bottom: 30px;
        }
    }
    .customer {
        &__content {
            flex-direction: column-reverse;
            align-items: center;
            padding-left: 0;
        }
        &__main {
            padding-left: 0;
            @include center();
            flex-direction: column;
        }
        &__img {
            margin-left: 100px;
        }
        &__h2 {
            text-align: center;
        }
        &__p1 {
            text-align: center;
        }
    }
    .companies {
        &__content {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .furniture {
        margin-top: 100px;
        margin-bottom: 100px;
        &__main {
            margin-top: 50px;
        }
        &__buttons {
            grid-template-columns: repeat(2, 120px);
        }
        &__btn {
            padding: 10px;
        }
    }
    .card {
        &__text {
            padding: 20px;
        }
    }
    .form {
        &__content {
            padding-left: 100px;
            padding-right: 100px;
        }
    }
    .footer {
        &__input {
            width: auto;
        }
        &__tour {
            margin-left: 0;
            margin-right: 0;
            width: 20%;
            margin-left: 30px;
        }
    }
}
@media screen and (max-width: 768px) {
    .container {
        max-width: 560px;
    }
    .header {
        &__nav {
            display: none;
        }
    }
    h1 {
        font-size: 40px;
    }
    .main {
        &__content {
            padding: 50px;
        }
    }
    .about {
        &__bg {
            width: 70%;
        }
        &__img {
            padding-right: 30px;
            padding-left: 80px;
            img {
                width: 80%;
            }
        }
    }
    .companies {
        &__pay {
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }
        &__content {
            margin-top: 100px;
            margin-bottom: 100px;
        }
    }
    .card {
        &__buttons {
            flex-direction: column;
        }
    }
    .furniture {
        &__list {
            gap: 30px;
        }
        &__item {
            text-align: center;
        }
    }
    .footer {
        &__main {
            flex-wrap: wrap;
        }
        &__subscribe {
            width: 50%;
        }
        &__input {
            width: -webkit-fill-available;
        }
        &__dudeshape {
            width: 60%;
            margin-bottom: 40px;
        }
    }
    .customer {
        &__main {
            padding-top: 0;
        }
    }
}
@media screen and (max-width: 576px) {
    .container {
        max-width: 350px;
    }
    p{
        font-size: 16px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    .main {
        &__content {
            padding-right: 90px;
        }
        &__main {
            flex-direction: column-reverse;
        }
        &__btn {
            font-size: 16px;
        }
    }
    .companies {
        &__pay {
            flex-direction: column;
        }
    }
    .about {
        &__img {
            padding-left: 20px;
            padding-right: 20px;
            img {
                width: 80%;
            }
        }
        &__bg {
            width: 78%;
        }
        &__p2 {
            font-size: 16px;
        }
    }
    .popular {
        &__content {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        &__p {
            width: 100%;
        }
        &__text {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            margin-bottom: 30px;
        }
        &__items {
            flex-direction: column;
            gap: 30px;
        }
    }
    .furniture {
        &__list {
            gap: 0;
        }
        &__item {
            font-size: 18px;
        }
        &__main {
            flex-direction: column;
            align-items: center;
        }
        &__buttons {
            margin-left: 0;
        }
        &__bg2 {
            bottom: -5px;
        }
    }
    .card {
        width: 100%;
        &__buttons {
            flex-direction: row;
        }
    }
    .customer {
        &__img {
            img {
                width: 100%;
            }
        }
        &__bg {
            left: -75px;
        }
    }
    .form {
        &__content {
            padding-left: 50px;
            padding-right: 50px;
        }
        &__input {
            width: 240px;
        }
        &__btn {
            width: 85px;
            right: 10px;
        }
    }
    .footer {
        &__main {
            flex-direction: column;
            gap: 20px;
            padding-top: 50px;
        }
        &__dudeshape {
            width: 100%;
        }
        &__tour {
            width: 100%;
            :nth-child(2) {
                margin-top: 23px;
            }
        }
        &__company {
            width: 100%;
        }
        &__subscribe {
            width: 100%;
        }
        &__list {
            :nth-child(2) {
                margin-top: 0;
            }
        }
    }
}
@media screen and (max-width: 360px) {
    .header, section, .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
    .main {
        &__content {
            width: auto;
        }
    } 
}