.header {
  padding: 44px 0 28px 0;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__head b {
  padding-right: 217px;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.header__btn {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
}

.form__container {
  max-width: 1200px;
  margin: 0 auto;
}

.form__content {
  margin-top: 132px;
  margin-bottom: 138px;
  background-color: #F4F6F6;
  padding: 68px 300px 55px 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.form__h2 {
  line-height: 48px;
}

.form__p {
  font-size: 16px;
  width: 85%;
  padding: 20px 0 40px 0;
  font-family: DM Sans;
  line-height: 24px;
  margin: 0;
}

.form__register {
  position: relative;
}

.form__input {
  height: 67px;
  width: 423px;
  border: none;
  padding-left: 47px;
}

.form__input::-webkit-input-placeholder {
  font-size: 16px;
  color: #BABABA;
  font-family: DM Sans;
}

.form__input:-ms-input-placeholder {
  font-size: 16px;
  color: #BABABA;
  font-family: DM Sans;
}

.form__input::-ms-input-placeholder {
  font-size: 16px;
  color: #BABABA;
  font-family: DM Sans;
}

.form__input::placeholder {
  font-size: 16px;
  color: #BABABA;
  font-family: DM Sans;
}

.form__img {
  position: absolute;
  top: 25px;
  left: 17px;
}

.form__btn {
  width: 125px;
  height: 52px;
  background-color: #305F64;
  color: white;
  font-family: DM Sans;
  font-size: 16px;
  position: absolute;
  top: 7px;
  right: 19px;
}

button:hover, li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header {
  padding: 44px 0 28px 0;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.header__btn {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
}

.header__nav {
  width: 100%;
}

p {
  font-size: 20px;
  margin-bottom: 0;
}

h1 {
  font-size: 56px;
  margin: 0;
}

h2 {
  font-size: 32px;
  margin: 0;
}

h3 {
  font-size: 20px;
  margin: 0;
}

h4 {
  font-size: 16px;
  margin: 0;
}

body {
  font-family: Montserrat;
  margin: 0;
  background-color: #FCFBFF;
}

.btn {
  border: none;
}

.btn_round {
  border-radius: 50%;
}

.btn_dark {
  background-color: #244D4D;
}

.list__item {
  display: inline-block;
  list-style-type: none;
  margin-right: 72px;
  font-family: DM Sans;
}

.list__item:last-child {
  margin-right: 0;
}

.list {
  margin: 0;
  padding-left: 0;
}

.logo {
  font-size: 24px;
}

.main__container {
  max-width: 1200px;
  margin: 0 auto;
}

.main__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__content {
  padding: 100px 100px 137px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: white;
  background-color: #154444;
}

.main__p {
  margin-top: 20px;
  margin-bottom: 35px;
  width: 84%;
  line-height: 25px;
  font-family: DM Sans;
}

.main__btn {
  padding: 15px 25px;
  border: none;
  width: 172px;
  font-size: 20px;
  color: #154444;
  font-family: DM Sans;
}

.companies__container {
  max-width: 1200px;
  margin: 0 auto;
}

.companies__content {
  margin: 136px 60px;
}

.companies__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.companies__h {
  color: #244D4D;
  text-align: center;
  font-family: DM Sans;
  padding-right: 10px;
}

.about__container {
  max-width: 1200px;
  margin: 0 auto;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 135px;
  padding-bottom: 24px;
  padding-left: 16px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  margin: 30px 30px 30px 0;
}

.about__item:first-of-type {
  padding-left: 5px;
}

.about__img {
  position: relative;
}

.about__bg {
  background-color: #DEE4E2;
  height: 98%;
  width: 106%;
  position: absolute;
  top: 26px;
  z-index: -1;
}

.about__text {
  color: #244D4D;
  padding-top: 47px;
}

.about__p1 {
  color: #444444;
  font-family: DM Sans;
  margin-bottom: 40px;
}

.about__p2 {
  line-height: 26px;
  font-size: 18px;
  color: #383738;
  font-family: DM Sans;
}

.popular__container {
  max-width: 1200px;
  margin: 0 auto;
}

.popular__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular__content {
  margin: 140px 0;
}

.popular__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 78px;
}

.popular__h2 {
  margin-left: 2px;
}

.popular__p {
  font-family: DM Sans;
  width: 70%;
  margin-top: 25px;
  margin-left: 2px;
  line-height: 27px;
}

.popular__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.popular__btn {
  background-color: #F4F6F6;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  -webkit-box-shadow: 0 13px 26px rgba(0, 0, 0, 0.07);
          box-shadow: 0 13px 26px rgba(0, 0, 0, 0.07);
}

.card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.card__btn {
  width: 26px;
  height: 26px;
  background-color: #F4F6F6;
}

.card__button {
  color: white;
  padding: 8px 14px;
  font-size: 12px;
  font-family: DM Sans;
}

.card__h3 {
  font-family: DM Sans;
  font-weight: 500;
}

.card__text {
  background-color: white;
  padding: 25px 24px;
}

.card__p {
  margin: 0;
  font-size: 24px;
  color: #154444;
  font-family: DM Sans;
}

.card__text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.card__text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.furniture {
  margin-top: 145px;
  margin-bottom: 140px;
}

.furniture h2 {
  text-align: center;
  padding-left: 5px;
}

.furniture__main {
  margin-left: 18px;
  margin-right: 7px;
}

.furniture__container {
  max-width: 1200px;
  margin: 0 auto;
}

.furniture__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.furniture__list {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  gap: 103px;
  font-family: DM Sans;
}

.furniture__item {
  display: inline-block;
  list-style-type: none;
  font-size: 24px;
  color: #919090;
}

.furniture__btn {
  background-color: rgba(255, 255, 255, 0);
  border: 1.5px solid #D9DCE5;
}

.furniture__h4 {
  font-weight: normal;
  color: #808080;
  font-family: DM Sans;
  margin-top: 14px;
}

.furniture__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 95px;
}

.furniture__buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (222px)[2];
      grid-template-columns: repeat(2, 222px);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  gap: 32px;
  margin-top: 32px;
  margin-bottom: 28px;
  margin-left: 5px;
}

.furniture__img {
  position: relative;
}

.furniture__img img {
  height: 100%;
  width: 100%;
}

.furniture__bg1 {
  position: absolute;
  background-color: #154444;
  width: 34%;
  height: 22%;
  top: -10px;
  left: -10px;
  z-index: -1;
}

.furniture__bg2 {
  position: absolute;
  background-color: #154444;
  width: 34%;
  height: 22%;
  bottom: -10px;
  right: -10px;
  z-index: -1;
}

.customer__container {
  max-width: 1200px;
  margin: 0 auto;
}

.customer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 105px;
}

.customer__img {
  position: relative;
}

.customer__h2 {
  line-height: 48px;
}

.customer__p {
  font-family: DM Sans;
}

.customer__bg {
  position: absolute;
  width: 105%;
  height: 98%;
  border-radius: 500px;
  background-color: #244D4D;
  z-index: -1;
  left: -105px;
  top: 0;
}

.customer__text {
  padding-bottom: 38px;
}

.customer__main {
  padding: 103px 0 105px 100px;
}

.customer__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer__info {
  font-family: DM Sans;
  padding-left: 10px;
}

.customer__info p {
  margin: 0;
  font-size: 16px;
  padding-bottom: 6px;
}

.customer__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer__rating p {
  padding-left: 8px;
  margin: 0;
  font-size: 14px;
}

.footer {
  background-color: #305F64;
  color: white;
}

.footer p {
  font-size: 18px;
  font-family: DM Sans;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__main {
  padding: 100px 0 42px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__tour {
  margin-left: 157px;
  margin-right: 100px;
  width: 9.5%;
}

.footer__tour :first-child {
  width: 80%;
}

.footer__tour :nth-child(2) {
  margin-top: 0;
}

.footer__company {
  margin-right: 108px;
  width: 35%;
}

.footer__follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.footer__follow :nth-child(3) {
  background-color: #305F64;
}

.footer__p1 {
  margin-bottom: 40px;
  margin-top: 24px;
  line-height: 26px;
}

.footer__p2 {
  margin-top: 23px;
}

.footer__h3 {
  margin-top: 3px;
}

.footer__dudeshape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding: 0;
  font-size: 18px;
  margin-top: 23px;
}

.footer__btn {
  background-color: white;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__input {
  width: 218px;
  border: none;
  padding: 16px 12px 13px 22px;
  margin-top: 40px;
}

.footer__input::-webkit-input-placeholder {
  color: #859395;
  font-size: 16px;
}

.footer__input:-ms-input-placeholder {
  color: #859395;
  font-size: 16px;
}

.footer__input::-ms-input-placeholder {
  color: #859395;
  font-size: 16px;
}

.footer__input::placeholder {
  color: #859395;
  font-size: 16px;
}

.footer__box {
  position: relative;
}

.footer__arrow {
  width: 28px;
  height: 28px;
  background-color: #FFB624;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 12px;
  bottom: 9px;
}

.footer__end {
  border-top: 1px solid #407980;
  text-align: center;
  padding: 20px;
}

.footer__end p {
  margin-top: 0;
}
/*# sourceMappingURL=styles.css.map */