.form {
    &__container {
        @include container();
    }
    &__content {
        margin-top: 132px;
        margin-bottom: 140px;
        background-color: #F4F6F6;
        padding: 68px 300px 55px 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__h2 {
        line-height: 48px;
    }
    &__p {
        font-size: 16px;
        width: 85%;
        padding: 20px 0 40px 0;
        font-family: DM Sans;
        line-height: 24px;
        margin: 0;
    }
    &__register {
        position: relative;
    }
    &__input {
        height: 67px;
        width: 423px;
        border: none;
        padding-left: 47px;
        padding: 0 2px 0 47px;
        &::placeholder {
            font-size: 16px;
            color: #BABABA;
            font-family: DM Sans;
        }
    }
    &__img {
        position: absolute;
        top: 25px;
        left: 17px;
    }
    &__btn {
        width: 125px;
        height: 52px;
        background-color: #305F64;
        color: white;
        font-family: DM Sans;
        font-size: 16px;
        position: absolute;
        top: 7px;
        right: 19px;
        &:hover {
            background-color: lighten(#305F64, 10%)
        }
    }
}